@import "./styles/colorVariables";
@import "./styles/fonts";

* {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $color-bg;
    color: $color-text;
    font-family: $main-font;
    margin: 0;
    padding: 0;
}
